<!-- **********Barra de menu que se muestra en todas las paginas************ -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="dashboard">Inicio</a>
    <a class="navbar-brand" href="dashboard">Mis reservas</a>
    <a class="navbar-brand" href="dashboard">PQRS</a>
    <a class="navbar-brand" href="dashboard">Mi informacion</a>
    <a class="navbar-brand" href="login">Login</a>
    <div class="collapse navbar-collapse w-100 d-flex justify-content-end" id="navbarSupportedContent">
      <button *ngIf="admin" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" >Registar usuario</button> &nbsp;
      <button *ngIf="admin" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2" >Registar oficio</button>
      <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Registrar usuario</button> &nbsp;
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2">Registrar oficio</button> -->
    </div>
  </div>
</nav>
<br>

<!-- **********Vista personas con el rol de ADMIN************ -->

<div class="container-fluid" *ngIf="admin" style="margin-left: 10px; margin-right: 0;">
  <!-- <div class="container-fluid"  style="margin-left: 50px; margin-right: 0;"> -->
  <div class="row">
    <div class="col-md-12">
      <h2>Personas registradas</h2>
      <hr>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Persona</th>
            <th scope="col">Identificacion</th>
            <th scope="col">Celular</th>
            <th scope="col">Correo</th>
            <th scope="col">Direccion</th>
            <th scope="col">Rol</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of peradmin; let i = index">
            <th>{{ i + 1 }}</th>
            <td>{{item.nombres}}  {{item.apellidos}} </td>
            <td>{{item.num_identificacion}}</td>
            <td>{{item.celular}}</td>
            <td>{{item.correo}}</td>
            <td>{{item.direccion}}</td>
            <td>{{item.rol}}</td>
            <td>
              <button type="button" class="btn btn-success">Ver mas</button> &nbsp;
              <button type="button" class="btn btn-secondary">Editar</button> &nbsp;
              <button type="button" class="btn btn-danger">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



<!-- **********Vista personas con el rol de CLIENTES************ -->

<div class="container-fluid" *ngIf="cliente" style="margin-left: 50px; margin-right: 0;">
<!-- <div class="container-fluid"  style="margin-left: 50px; margin-right: 0;"> -->
  <div class="row">
    <div class="col-md-6">
      <h2>Oferta de servicios</h2>
      <hr>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Oficio</th>
            <th scope="col">Detalle</th>
            <th scope="col">Celular</th>
            <th scope="col">Correo</th>
            <th scope="col">Valor sugerido</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of servicioUsuario; let i = index">
            <th>{{ i + 1 }}</th>
            <td>{{item.nombres}}</td>
            <td>{{item.apellidos}}</td>
            <td>{{item.oficio}}</td>
            <td>{{item.detalle}}</td>
            <td>{{item.celular}}</td>
            <td>{{item.correo}}</td>
            <td>
              <div class="input-group">
                <input type="checkbox" [(ngModel)]="item.editable" class="form-check-input checkbox-inline">
                <input type="number" [(ngModel)]="item.precio_servicio" class="form-control input-inline" [disabled]="!item.editable" placeholder="{{ item.precio_servicio }}">
              </div>
            </td>
            <td><button type="button" class="btn btn-success" (click)="contratar(item)">Contratar</button></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-5">
      <h2>Mis servicios</h2>
      <hr>
      <h5 *ngIf="!mensaje">¡No tienes servicios contratados!</h5>
      <table class="table table-striped" *ngIf="mensaje">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Detalle</th>
            <th scope="col">Valor servicio</th>
            <th scope="col">Responsable</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of servsoli; let i = index">
            <th>{{ i + 1 }}</th>
            <td>{{item.detalle}}</td>
            <td>{{item.valor_servicio}}</td>
            <td>{{item.responsable}}</td>
            <td>{{item.estado}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<!-- **********Vista personas con el rol de TRABAJADOR ************ -->
<div class="container-fluid" *ngIf="trabajador" style="margin-left: 50px; margin-right: 0;">
  <!-- <div class="container-fluid"  style="margin-left: 50px; margin-right: 0;"> -->
  <div class="row">
    <div class="col-md-12">
      <h2>Solicitudes</h2>
      <hr>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Cliente</th>
            <th scope="col">Celular</th>
            <th scope="col">Direccion</th>
            <th scope="col">Correo</th>
            <th scope="col">Valor</th>
            <th scope="col">Detalle</th>
            <th scope="col">Estado</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of soliserv; let i = index">
            <th>{{ i + 1 }}</th>
            <td>{{item.nombres}}{{item.apellidos}} </td>
            <td>{{item.celular}}</td>
            <td>{{item.direccion}}</td>
            <td>{{item.correo}}</td>
            <td>{{item.valor_servicio}}</td>
            <td>{{item.detalle}}</td>
            <td>{{item.estado}}</td>
            <td>
              <button type="button" *ngIf="item.estado == 'P'"  (click)="aceptar(item)" class="btn btn-success">Aceptar</button> &nbsp;
              <button type="button" *ngIf="item.estado == 'P'" (click)="rechazar(item)" class="btn btn-danger">Rechazar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- **********modal del formulario para agregar OFICIOS************ -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Formulario de oficios</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div>
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h6>Oficios activos</h6>
                <hr>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Oficio</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of oficios; let i = index">
                      <th>{{ i + 1 }}</th>
                      <td>{{item.detalle}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
          <div class="mb-3">
            <label for="oficio" class="form-label">Oficio</label>
            <input type="text" class="form-control" id="oficio" [(ngModel)]="selectedOfic.oficio" [ngModelOptions]="{standalone: true}" placeholder="Ingresa un oficio nuevo">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="btnagregaroficio()" >Guardar</button>
      </div>
    </div>
  </div>
</div>


<!-- **********modal del formulario para agregar personas con su respectivo rol************ -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Formulario de Registro</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #formulario="ngForm">
          <div>
            <label for="oficio" class="form-label">Tipo de documento</label>
            <select class="form-select" id="id_tipo_documento" [(ngModel)]="selectedUsu.id_tipo_documento" [ngModelOptions]="{standalone: true}" required>
              <option *ngFor="let item of documentos" [value]="item.id_tipo_documento">{{ item.tipo_documento }}</option>
            </select>
          </div>
          <br>
          <div class="mb-3">
            <label for="idNumber" class="form-label">Número de Identificación</label>
            <input type="number" class="form-control" id="num_identificacion" [(ngModel)]="selectedUsu.num_identificacion" [ngModelOptions]="{standalone: true}" placeholder="Ingresa tu número de identificación" required>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Clave</label>
            <input type="password" class="form-control" id="clave" [(ngModel)]="selectedUsu.clave" [ngModelOptions]="{standalone: true}" placeholder="Ingresa tu clave" required>
          </div>
          <div class="mb-3">
            <label for="firstName" class="form-label">Nombres</label>
            <input type="text" class="form-control" id="nombres" [(ngModel)]="selectedUsu.nombres" [ngModelOptions]="{standalone: true}" placeholder="Ingresa tus nombres" required>
          </div>
          <div class="mb-3">
            <label for="lastName" class="form-label">Apellidos</label>
            <input type="text" class="form-control" id="apellidos" [(ngModel)]="selectedUsu.apellidos" [ngModelOptions]="{standalone: true}" placeholder="Ingresa tus apellidos" required>
          </div>
          <div class="mb-3">
            <label for="phone" class="form-label">Celular</label>
            <input type="number" class="form-control" id="celular" [(ngModel)]="selectedUsu.celular" [ngModelOptions]="{standalone: true}" placeholder="Ingresa tu número de celular" required>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Correo Electrónico</label>
            <input type="email" class="form-control" id="correo" [(ngModel)]="selectedUsu.correo" [ngModelOptions]="{standalone: true}" placeholder="Ingresa tu correo electrónico" required>
          </div>
          <div class="mb-3">
            <label for="address" class="form-label">Dirección</label>
            <input type="text" class="form-control" id="direccion" [(ngModel)]="selectedUsu.direccion" [ngModelOptions]="{standalone: true}" placeholder="Ingresa tu dirección" required>
          </div>
          <div class="mb-3">
            <label for="role" class="form-label">Rol</label>
            <div id="role">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="role" id="userRole" value="C" [(ngModel)]="selectedUsu.rol" required>
                <label class="form-check-label" for="userRole">Cliente</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="role" id="workerRole" value="T" [(ngModel)]="selectedUsu.rol" required>
                <label class="form-check-label" for="workerRole">Trabajador</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="role" id="workerRole" value="D" [(ngModel)]="selectedUsu.rol" required>
                <label class="form-check-label" for="workerRole">Cliente-Trabajador</label>
              </div>
            </div>
          </div>

          <div *ngIf="selectedUsu.rol === 'T' || selectedUsu.rol === 'D'">
            <label for="oficio" class="form-label">Oficio</label>
            <select class="form-select" id="id_oficio" [(ngModel)]="selectedUsuSer.id_oficio" [ngModelOptions]="{standalone: true}" required>
              <option *ngFor="let item of oficios" [value]="item.id_oficio | number">{{ item.detalle }}</option>
            </select>
          </div>
          <br *ngIf="selectedUsu.rol === 'T' || selectedUsu.rol === 'D'">

          <div class="form-floating" *ngIf="selectedUsu.rol === 'T' || selectedUsu.rol === 'D'">
            <textarea class="form-control"  id="detalle" [(ngModel)]="selectedUsuSer.detalle" [ngModelOptions]="{standalone: true}" required></textarea>
            <label for="floatingTextarea">Detalles del servicio</label>
          </div>
          <br *ngIf="selectedUsu.rol === 'T' || selectedUsu.rol === 'D'">

          <div class="mb-3" *ngIf="selectedUsu.rol === 'T' || selectedUsu.rol === 'D'">
            <label for="precio" class="form-label">Precio</label>
            <input type="number" [placeholder]="'Escriba el valor sin puntos ni signo de pesos'" class="form-control" id="precio_servicio" [(ngModel)]="selectedUsuSer.precio_servicio" [ngModelOptions]="{standalone: true}" required>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" [disabled]="!formulario.valid" (click)="btnguardar()">Guardar</button>
      </div>
    </div>
  </div>
</div>
